<div class="jumbotron">
  <h1>Welcome to Idea Box!</h1>
  <h3>Add a New Idea</h3>
  <div class="form-group">
    <label for="newIdeaTitle">Idea Title</label>
    <input class="form-control" type="text" id="idea-title" placeholder="Title">
  </div>
  <div class="form-group">
    <label for="newIdeaTitle">Idea Body</label>
    <input class="form-control" type="text" id="idea-body" placeholder="Body">
  </div>
  <input class="btn btn-default pull-right" id="create-idea" type="button" name="submit" value="Create Idea">
</div>

<div class="well ideas">
  <div id="ideas"></div>
</div>
